<div class="container">

    <div class="row">

        <div class="col-lg-12">
            <h1 class="page-header">Back Panel
                <small>Panel At The Back</small>
            </h1>
            <ol class="breadcrumb">
                <li><a href="../index.html">Home</a>
                </li>
                <li class="active">Back Panel</li>
            </ol>
        </div>

    </div>

    <div class="row">

        <div class="col-md-2">
            <div class="row">
				<a class="btn btn-primary btn-xs" href="blog-post.html">One</a>
			</div>
			<div class="row">
				<a class="btn btn-primary btn-xs" href="blog-post.html">Two</a>
			</div>
			<div class="row">
				<a class="btn btn-primary btn-xs" href="blog-post.html">Three</a>
			</div>
			<div class="row">
				<a class="btn btn-primary btn-xs" href="blog-post.html">Four</a>
			</div>
        </div>
        <div class="col-md-8">
            <a href="blog-post.html">
                <img src="/images/600x300.png" class="img-responsive">
            </a>
        </div>
        <div class="col-md-2">
		    <div class="row">
				<a class="btn btn-primary btn-xs" href="blog-post.html">One</a>
			</div>
			<div class="row">
				<a class="btn btn-primary btn-xs" href="blog-post.html">Two</a>
			</div>
			<div class="row">
				<a class="btn btn-primary btn-xs" href="blog-post.html">Three</a>
			</div>
			<div class="row">
				<a class="btn btn-primary btn-xs" href="blog-post.html">Four</a>
			</div>
        </div>

    </div>

    <hr>

    <div class="row">

        <ul class="pager">
            <li class="previous"><a href="#">&larr; Front</a>
            </li>
            <li class="next"><a href="#">Devices &rarr;</a>
            </li>
        </ul>

    </div>

</div>
<!-- /.container -->